# compiled output
**/dist
**/out
**/build
**/node_modules
**/.next

# logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# os
.DS_Store

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/.vscode/*

# envs
.env
.env*.local
